section.offer {
  display: flex;
  justify-content: center;
}
section.offer .offer__wrapper {
  width: 948px;
  margin: 0 40px;
}
section.offer .offer__form .form__userinfo {
  display: flex;
  justify-content: space-between;
}
section.offer .offer__form .form__userinfo .form__input {
  width: 100%;
}
section.offer .offer__form .form__userinfo .form__input:nth-child(2) {
  margin-left: 32px;
}
section.offer .offer__form .form__input {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  padding: 16px;
  border-radius: 20px;
  border: #252525 1px solid;
  font-family: "PT Mono", sans;
  font-size: 24px;
}
section.offer .offer__form .form__input input,
section.offer .offer__form .form__input textarea {
  width: 100%;
  border: none;
  margin-left: 20px;
}
section.offer .offer__form .form__input input:focus,
section.offer .offer__form .form__input textarea:focus {
  outline: none;
}
section.offer .offer__form .form__input textarea {
  min-height: 160px;
  max-height: 500px;
  width: 100%;
  resize: vertical;
}
section.offer .offer__form button {
  width: 100%;
  font-size: 24px;
  background: #252525;
  color: #ffffff;
  border-radius: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.3s;
}
section.offer .offer__form button:hover {
  background: #454545;
}