body {
  font-family: "PT Serif", serif;
  background: #ffffff;
}
body .app-wrapper-content {
  display: flex;
  justify-content: center;
  margin-top: 141px;
  padding: 60px 0;
  min-height: calc(100vh - 141px - 220px);
}
body h2 {
  font-size: 48px;
}
body p {
  font-size: 24px;
}
body * {
  color: #252525;
}

header.menu {
  position: fixed;
  top: 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 24px 5%;
  background: #ffffff;
  border-radius: 0 0 20px 20px;
  border-bottom: #252525 1px solid;
  user-select: none;
}
header.menu .menu__logo {
  display: flex;
}
header.menu .menu__logo .menu__name {
  margin-left: 64px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
header.menu .menu__logo .menu__name h1 {
  width: fit-content;
  margin: 0;
}
header.menu .menu__logo .menu__name span {
  font-size: 24px;
}
header.menu .menu__items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header.menu .menu__items a {
  text-decoration: none;
  color: #252525;
  font-size: 24px;
}
header.menu .menu__items a:not(:last-child) {
  margin-right: 64px;
}
header.menu .menu__items a:last-child {
  font-weight: bold;
}
header.menu .menu__items a:hover {
  text-decoration: underline;
}