section.search {
  display: flex;
  justify-content: center;
}
section.search .search__wrapper {
  width: 948px;
  margin: 0 40px;
}
section.search .search__wrapper div {
  margin: 32px 0;
}
section.search .search__wrapper .search__menu {
  font-family: "PT Mono", monospace;
  border: 1px solid #252525;
  border-radius: 20px;
  padding: 32px;
}
section.search .search__wrapper .search__menu .search__menu-form {
  display: flex;
  padding: 16px;
  border-radius: 20px;
  border: #252525 1px solid;
}
section.search .search__wrapper .search__menu .search__menu-form input.search__menu-input {
  width: 100%;
  border: none;
  font-size: 24px;
  margin-left: 24px;
}
section.search .search__wrapper .search__menu .search__menu-form input.search__menu-input:focus {
  outline: none;
}
section.search .search__wrapper .search__menu .search__menu-letters {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
}
section.search .search__wrapper .search__menu .search__menu-letters:last-child {
  margin: 0;
}
section.search .search__wrapper .search__menu .search__menu-letters .letters__letter {
  display: inline;
  margin: 0;
  flex: 0 0 auto;
}
section.search .search__wrapper .search__menu .search__menu-letters .letters__letter input[type=checkbox] {
  display: none;
}
section.search .search__wrapper .search__menu .search__menu-letters .letters__letter input[type=checkbox]:checked + label {
  background-color: #252525;
  color: #ffffff;
}
section.search .search__wrapper .search__menu .search__menu-letters .letters__letter label {
  display: inline-block;
  padding: 16px 16px;
  border: 1px solid #252525;
  border-radius: 20px;
  font-size: 32px;
  cursor: pointer;
  transition: 0.3s;
}
section.search .search__wrapper .search__menu .search__menu-letters .letters__letter label:hover {
  background: #454545;
  color: #ffffff;
}

section.result {
  display: flex;
  justify-content: center;
}
section.result .result__wrapper {
  width: 948px;
}
section.result .result__wrapper .result__item {
  border: 1px solid #252525;
  border-radius: 20px;
  padding: 16px 48px;
  margin-bottom: 32px;
}
section.result .result__wrapper .result__item:last-child {
  margin: 0;
}
section.result .result__wrapper .result__item h3 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}
section.result .result__wrapper .result__item ul {
  padding: 0;
}
section.result .result__wrapper .result__item ul li {
  list-style: none;
  margin: 12px 0;
}
section.result .result__wrapper .result__item ul li a {
  color: #252525;
  font-size: 24px;
}
section.result .result__wrapper .result__item ul li a:hover {
  color: #454545;
}