@import '../../scss/_variables.scss';

section.search {
    display: flex;
    justify-content: center;

    .search__wrapper {
        width: 948px;
        margin: 0 40px;

        div {
            margin: 32px 0;
        }

        .search__menu {
            font-family: 'PT Mono', monospace;
            border: 1px solid $black;
            border-radius: 20px;
            padding: 32px;

            .search__menu-form {
                display: flex;
                padding: 16px;
                border-radius: 20px;
                border: $black 1px solid;

                input.search__menu-input {
                    width: 100%;
                    border: none;
                    font-size: 24px;
                    margin-left: 24px;

                    &:focus {
                        outline: none;
                    }
                }
            }

            .search__menu-letters {
                display: flex;
                justify-content: space-between;
                margin: 12px 0;

                &:last-child {
                    margin: 0;
                }

                .letters__letter {
                    display: inline;
                    margin: 0;
                    flex: 0 0 auto;

                    input[type="checkbox"] {
                        display: none;

                        &:checked+label {
                            background-color: $black;
                            color: $white;
                        }
                    }

                    label {
                        display: inline-block;
                        padding: 16px 16px;
                        border: 1px solid $black;
                        border-radius: 20px;
                        font-size: 32px;
                        cursor: pointer;
                        transition: .3s;

                        &:hover {
                            background: $lblack;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}

section.result {
    display: flex;
    justify-content: center;

    .result__wrapper {
        width: 948px;

        .result__item {
            border: 1px solid $black;
            border-radius: 20px;
            padding: 16px 48px;
            margin-bottom: 32px;

            &:last-child {
                margin: 0;
            }

            h3 {
                font-size: 32px;
                font-weight: bold;
                margin: 0;
            }

            ul {
                padding: 0;

                li {
                    list-style: none;
                    margin: 12px 0;

                    a {
                        color: $black;
                        font-size: 24px;

                        &:hover {
                            color: $lblack;
                        }
                    }
                }
            }
        }
    }
}